---
import Project0 from "../components/Project0.astro";
import Project1 from "../components/Project1.astro";
import Project2 from "../components/Project2.astro";
import Project3 from "../components/Project3.astro";
import Project4 from "../components/Project4.astro";
import Project5 from "../components/Project5.astro";
import Project6 from "../components/Project6.astro";
import Contact from "../components/Contact.astro";
import NavIsland from "../components/NavIsland.astro";
import Socials from "../components/Socials.astro";
---

<html lang="en" class="overflow-x-hidden scroll-smooth bg-black">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark only" />
    <title>PickleNik</title>
  </head>
  <body>
    <main>
      <Project0 />
      <Project1 />
      <Project2 />
      <Project3 />
      <Project4 />
      <Project5 />
      <Project6 />
      <Contact />
    </main>
    <!-- <NavIsland /> -->
    <footer
      class="mx-auto grid w-[90dvh] grid-cols-3 p-12 pb-24 pt-0 portrait:w-[90dvw]"
    >
      <div class="flex items-center text-sm text-white/50">
        Copyleft © {new Date().getFullYear()} PickleNik.
      </div>
      <div class="flex justify-center">
        <Socials
          github="https://github.com/PickleNik"
          discord="https://discord.com/users/714555429618843650"
          twitter="https://twitter.com/picklenik0864"
          mail="mailto:email@gmail.com"
          kofi="https://ko-fi.com/picklenik"
        />
      </div>
      <a
        href="#"
        class="flex cursor-pointer items-center justify-end text-white/50 decoration-wavy duration-300 hover:text-white hover:underline hover:underline-offset-4 active:scale-90"
      >
        ^^^^ scroll back to top
      </a>
    </footer>
  </body>
</html>
