---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark only" />
    <title>PickleNik</title>
  </head>
  <body>
    <h1 class="absolute left-0 top-0 p-4 font-mono text-4xl font-bold italic">
      PickleNik
    </h1>
    <h1
      class="absolute left-0 top-0 -z-10 p-4 font-mono text-4xl font-bold italic text-red-400"
    >
      PortfoLio
    </h1>
    <nav
      class="fixed bottom-0 right-0 flex flex-col items-end gap-1 bg-black p-4 font-bold"
    >
      <a class="rounded-xl bg-white bg-opacity-20 px-4 py-2" href="#"> .</a>
      <a class="rounded-xl bg-white bg-opacity-20 px-4 py-2" href="#work">
        Work
      </a>
      <a class="rounded-xl bg-white bg-opacity-20 px-4 py-2" href="#link2">
        Link2
      </a>
      <a class="rounded-xl bg-white bg-opacity-20 px-4 py-2" href="#contact">
        Contact
      </a>
    </nav>
  </body>
</html>
