---
import Top from "../components/Top.astro";
import RZ from "../components/RZ.astro";
import TH from "../components/TH.astro";
import VT from "../components/VT.astro";
import VTS from "../components/VTS.astro";
import ST from "../components/ST.astro";
import Contact from "../components/Contact.astro";
import NavIsland from "../components/NavIsland.astro";
import Socials from "../components/Socials.astro";
import RYD from "../components/RYD.astro";
---

<html lang="en" class="snap-y snap-mandatory scroll-smooth bg-black">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark only" />
    <title>PickleNik</title>
  </head>
  <body>
    <!-- class="grid grid-cols-3 gap-4 hover:grid-cols-1" -->
    <main>
      <!-- <div
        class="-mb-[33%] -mt-[50%] w-screen scale-[0.25] overflow-hidden rounded-[5rem] duration-300 group-hover:my-0 group-hover:scale-100 group-hover:rounded-none"
      > -->
      <Top />
      <RYD />
      <RZ />
      <TH />
      <VT />
      <VTS />
      <ST />
      <Contact />
    </main>
    <!-- <NavIsland /> -->
    <footer
      class="mx-auto grid w-[90dvh] snap-end grid-cols-3 p-12 pb-24 pt-0 portrait:w-[90dvw]"
    >
      <div class="flex items-center text-sm text-white/50">
        Copyleft © {new Date().getFullYear()} PickleNik.
      </div>
      <div class="flex justify-center">
        <Socials
          github="https://github.com/PickleNik"
          discord="https://discord.com/users/714555429618843650"
          twitter="https://twitter.com/picklenik0864"
          mail="mailto:email@gmail.com"
          kofi="https://ko-fi.com/picklenik"
        />
      </div>
      <a
        href="#"
        class="flex cursor-pointer items-center justify-end text-white/50 decoration-wavy underline-offset-0 duration-300 hover:text-white hover:underline hover:underline-offset-4 active:scale-90"
      >
        ^^^^ scroll back to top
      </a>
    </footer>
  </body>
</html>
