---
import Socials from "../components/socials.astro";
import Nav from "../components/nav.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark only" />
    <title>PickleNik</title>
  </head>
  <body>
    <h1 class="absolute left-8 top-8 font-mono text-4xl font-bold italic">
      PickleNik
    </h1>
    <h1
      class="absolute left-8 top-8 -z-10 font-mono text-4xl font-bold italic text-red-400"
    >
      PortfoLio
    </h1>
    <Socials />
    <Nav />
  </body>
</html>
