---
import Hero from "../hero/index.astro";
import ReturnYouTubeDislike from "../ryd/index.astro";
import RealZoo from "../rz/index.astro";
import TypeHero from "../th/index.astro";
import VueTube from "../vt/index.astro";
import VueTubeSite from "../vts/index.astro";
import Serenity from "../st/index.astro";
import Contact from "../components/Contact.astro";
import NavIsland from "../components/NavIsland.astro";
import Socials from "../components/Socials.astro";
---

<html lang="en" class="scroll-smooth snap-y snap-mandatory bg-black">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico" /> -->
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark only" />
    <title>PickleNik</title>
    <meta
      name="description"
      content="PickleNik's portfolio website. ReturnYouTubeDislike. RealZoo. TypeHero. VueTube."
    />
  </head>
  <body>
    <!-- class="grid grid-cols-3 gap-4 hover:grid-cols-1" -->
    <main>
      <!-- <div
        class="-mb-[33%] -mt-[50%] w-screen scale-[0.25] overflow-hidden rounded-[5rem] duration-300 group-hover:my-0 group-hover:scale-100 group-hover:rounded-none"
      > -->
      <Hero />
      <ReturnYouTubeDislike />
      <RealZoo />
      <TypeHero />
      <VueTube />
      <VueTubeSite />
      <Serenity />
      <Contact />
    </main>
    <!-- <NavIsland /> -->
    <footer
      class="mx-auto grid w-[90dvh] snap-end grid-cols-3 p-12 pb-24 pt-0 portrait:w-[90dvw]"
    >
      <div class="flex items-center text-sm text-white/50">
        Copyleft © {new Date().getFullYear()} PickleNik.
      </div>
      <div class="flex justify-center">
        <Socials
          github="https://github.com/PickleNik"
          discord="https://discord.com/users/714555429618843650"
          twitter="https://twitter.com/picklenik0864"
          mail="mailto:email@gmail.com"
          kofi="https://ko-fi.com/picklenik"
        />
      </div>
      <a
        href="#"
        class="flex cursor-pointer items-center justify-end text-white/50 decoration-wavy underline-offset-0 duration-300 hover:text-white hover:underline hover:underline-offset-4 active:scale-90"
      >
        ^^^^ scroll back to top
      </a>
    </footer>
  </body>
</html>

<style is:global>
  html, body {
    overscroll-behavior-y: none;
  }
  /* hide scrollbar */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
</style>