<div
  class="rounded-xl bg-[hsl(212,78%,12%)] p-2 text-[hsl(212,78%,62%)]"
  style="box-shadow: inset 0 0 1rem -0.25rem hsl(212, 78%, 62%), 0 0 1rem -0.25rem hsl(212, 78%, 62%);"
>
  <svg
    role="img"
    viewBox="0 0 24 24"
    class="h-5 w-5 fill-current"
    xmlns="http://www.w3.org/2000/svg"
  >
    <title>Vuetify</title>
    <path
      d="M7.094 0L12 11.596 16.906 0H7.094zM1.5 3.5L12 24 22.5 3.5H17L12 15 7 3.5z"
    ></path>
  </svg>
</div>
