---
import Socials from "../components/Socials.astro";
---

<section class="flex h-screen flex-col items-center justify-center">
  <h1 class="text-6xl font-bold">Contact</h1>
  <!-- Todo: paper plane, in front and behind text -->
  <p class="text-xl">Lorem ipsum dolor sit amet consectetur.</p>
  <Socials />
</section>
