---
import Socials from "../components/Socials.astro";
---

<section class="relative -mb-36 h-screen">
  <div class="sticky left-8 top-8 max-w-min">
    <h1 class="font-mono text-4xl font-bold italic">PickleNik</h1>
    <h1 class="font-mono text-4xl font-bold italic text-red-400">PortfoLio</h1>
    <Socials />
  </div>
  <div class="flex h-full w-full flex-col items-center justify-center">
    <h1 class="text-6xl font-bold">Hello World</h1>
    <p class="text-xl">Lorem ipsum dolor sit amet consectetur.</p>
  </div>
</section>
