<nav
  class="fixed bottom-0 right-0 flex flex-col items-end gap-1 bg-black p-4 font-bold"
>
  <a class="rounded-xl bg-white bg-opacity-20 px-4 py-2" href="#"> .</a>
  <a class="rounded-xl bg-white bg-opacity-20 px-4 py-2" href="#work"> Work</a>
  <a class="rounded-xl bg-white bg-opacity-20 px-4 py-2" href="#link2">
    Link2
  </a>
  <a class="rounded-xl bg-white bg-opacity-20 px-4 py-2" href="#contact">
    Contact
  </a>
</nav>
