<nav
  class="fixed bottom-1/2 right-0 flex translate-y-1/2 flex-col items-end gap-2 p-4 font-bold"
>
  <a
    class="translate-x-[25%] scale-50 rounded-xl bg-white bg-opacity-20 px-4 py-2 duration-150 hover:translate-x-0 hover:scale-100"
    href="#"
  >
    Home
  </a>
  <a class="rounded-xl bg-white bg-opacity-20 px-4 py-2" href="#work">
    Projects
  </a>
  <a
    class="translate-x-[25%] scale-50 rounded-xl bg-white bg-opacity-20 px-4 py-2 duration-150 hover:translate-x-0 hover:scale-100"
    href="#contact"
  >
    Contact
  </a>
</nav>
