---
import Socials from "./Socials.astro";
import Capacitor from "./tools/Astr.astro";
import Vuetify from "./tools/Tailwind.astro";
import Vue from "./tools/Vue.astro";
---

<section
  class="relative flex min-h-screen w-full justify-between portrait:flex-col landscape:items-center"
>
  <div class="absolute top-0 flex w-full gap-4 p-4">
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
  </div>
  <div class="absolute top-48 flex w-full gap-4 p-4">
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
  </div>
  <div class="absolute top-96 flex w-full gap-4 p-4">
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
    <div class="h-40 flex-1 rounded-xl border border-neutral-600"></div>
  </div>
  <div class="relative p-12 landscape:h-screen">
    <div
      class="left-4 top-4 flex min-w-max flex-col items-start gap-4 lg:left-12 lg:top-12 xl:left-24 xl:top-24 landscape:absolute"
    >
      <h1
        class="bg-gradient-to-r from-[#43d392] to-[#6288f2] bg-clip-text text-3xl font-bold text-transparent md:text-5xl"
      >
        VueTube
      </h1>
      <div class="flex gap-2">
        <h2
          class="rounded-full border border-cyan-300 bg-cyan-500 bg-opacity-50 px-2"
        >
          Work In Progress
        </h2>
        <h2
          class="rounded-full border border-yellow-300 bg-yellow-500 bg-opacity-50 px-2"
        >
          Prototype
        </h2>
      </div>
      <h3 class="opacity-50">An alternative video streaming client</h3>
      <div class="flex gap-4">
        <Capacitor />
        <Vuetify />
        <Vue />
      </div>
    </div>
  </div>
  <!-- middle -->
  <div
    class="relative mx-auto flex h-[90dvh] w-[90dvh] items-center justify-center gap-4 rounded-full backdrop-blur-sm portrait:h-[90dvw] portrait:w-[90dvw]"
    style="box-shadow: 0 0 5rem -1rem #fff4"
  >
    <div class="flex w-3/4 flex-col items-center gap-4">
      <div class="hoverer group relative rounded-2xl duration-500">
        <!-- <img
          class="h-auto max-w-full rounded-3xl border border-neutral-800 duration-300 group-hover:scale-150"
          alt="The VueTube Landing Page Of All Time"
          src="/vuetube_landing.png"
        /> -->
        <!-- TODO: iframe goes here -->
      </div>
    </div>
  </div>

  <div class="flex justify-start p-12 landscape:h-screen">
    <div class="bottom-24 left-24 landscape:absolute">
      <Socials
        github="https://github.com/VueTubeApp/VueTube-site-v2"
        link="https://vuetube.missingprogram.me/"
      />
    </div>
  </div>
</section>

<style>
  .hoverer {
    box-shadow: 0 0 0 100dvw rgba(0, 0, 0, 0);
    /* duration-0 */
    transition: box-shadow 0s ease-in-out !important;
  }
  .hoverer:hover {
    z-index: 1;
    /* hover:duration-500 */
    transition: box-shadow 0.25s ease-in-out !important;
    box-shadow: 0 0 0 100dvw rgba(0, 0, 0, 0.5);
  }
</style>
