<section class="relative flex min-h-screen w-full flex-col bg-[#121212] p-24">
  <!-- <div class="sticky left-0 top-0 h-0 max-w-max p-8">
    <h1 class="absolute bg-[#121212] text-5xl font-bold">
      Return YouTube Dislike
    </h1>
  </div> -->
  <div
    class="relative mx-auto flex h-screen max-w-screen-lg items-center gap-4 rounded-full bg-[#ff444444]"
    style="box-shadow: 0 0 15rem -3rem #ff444444;"
  >
    <div class="flex w-1/4 flex-col justify-center gap-4">
      <img
        class="h-auto rounded-2xl border border-neutral-800"
        alt="Return YouTube Dislike Home Page Mobile"
        src="/ryd_home_mobile.png"
      />
      <!-- <img
        class="h-auto rounded-lg border border-neutral-800"
        alt="Return YouTube Dislike Extension Popup"
        src="/ryd_panel_main.png"
      />
      <img
        class="h-auto rounded-lg border border-neutral-800"
        alt="Return YouTube Dislike Extension Settings Popup"
        src="/ryd_panel_settings.png"
      /> -->
    </div>
    <div class="flex w-2/4 flex-col gap-4">
      <img
        class="h-auto max-w-full rounded-2xl border border-neutral-800"
        alt="Return YouTube Dislike Docs Page"
        src="/ryd_docs.png"
      />
      <div class="hoverer group relative rounded-2xl duration-500">
        <img
          class="h-auto max-w-full rounded-2xl border border-neutral-800 duration-300 group-hover:scale-[1.9]"
          alt="Return YouTube Dislike Home Page"
          src="/ryd_main.png"
        />
        <iframe
          height="1080px"
          width="1920px"
          class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 scale-[0.21] rounded-[4rem] border-8 border-neutral-800 opacity-0 duration-[300ms] group-hover:scale-50 group-hover:opacity-100"
          src="https://returnyoutubedislike.com/"
          title="Return YouTube Dislike"></iframe>
      </div>
      <img
        class="h-auto max-w-full rounded-2xl border border-neutral-800"
        alt="Return YouTube Dislike Install Page"
        src="/ryd_install.png"
      />
    </div>

    <div class="flex w-1/4 flex-col justify-center gap-4">
      <div class="hoverer group rounded-2xl duration-500">
        <img
          class="h-auto max-w-full rounded-2xl border border-neutral-800 duration-300 group-hover:z-50 group-hover:-translate-x-[150%] group-hover:translate-y-[150%] group-hover:scale-[3]"
          alt="Return YouTube Dislike Extension Changelog Page"
          src="/ryd_changelog.png"
        />
      </div>
      <div class="hoverer group rounded-2xl duration-500 hover:z-50">
        <img
          class="h-auto max-w-full rounded-2xl border border-neutral-800 duration-300 group-hover:z-50 group-hover:-translate-x-[160%] group-hover:-translate-y-[30%] group-hover:scale-[1.5]"
          alt="Return YouTube Dislike Links Page Mobile"
          src="/ryd_links_mobile.png"
        />
      </div>
    </div>
  </div>
</section>

<style>
  .hoverer {
    box-shadow: 0 0 0 100dvw rgba(0, 0, 0, 0);
  }
  .hoverer:hover {
    box-shadow: 0 0 0 100dvw rgba(0, 0, 0, 0.5);
  }
</style>
