---
import Tailwind from "./tools/Tailwind.astro";
import Vue from "./tools/Vue.astro";
---

<section
  class="relative flex min-h-screen w-full snap-center justify-between bg-[hsl(192,53%,8%)] portrait:flex-col landscape:items-center"
>
  <div class="relative p-12 landscape:h-screen">
    <div
      class="left-4 top-4 flex min-w-max flex-col items-start gap-4 lg:left-12 lg:top-12 xl:left-24 xl:top-24 landscape:absolute"
    >
      <h1
        class="text-2xl font-bold uppercase tracking-[1rem] text-[#c4e5ec] md:text-4xl"
      >
        Serenity
      </h1>
      <div class="flex gap-2">
        <!-- TODO: move to emvoice -->
        <!-- <h2
          class="rounded-full border border-yellow-300 bg-yellow-500 bg-opacity-50 px-2"
        >
          Prototype
        </h2> -->
        <h2
          class="rounded-full border border-emerald-300 bg-emerald-500 bg-opacity-50 px-2"
        >
          Completed
        </h2>
        <h2
          class="rounded-full border border-neutral-300 bg-neutral-500 bg-opacity-50 px-2"
        >
          Offline
        </h2>
      </div>
      <h3 class="opacity-50">Landing page</h3>
      <div class="flex gap-4">
        <Vue />
        <Tailwind />
      </div>
    </div>
  </div>
  <!-- middle -->
  <div
    class="relative mx-auto flex h-[90dvh] w-[90dvh] items-center justify-center gap-4 rounded-full portrait:h-[90dvw] portrait:w-[90dvw]"
    style="box-shadow: 0 0 15rem 3rem #1e5462"
  >
    <div class="flex w-3/4 flex-col items-center gap-4">
      <div class="hoverer group relative rounded-2xl duration-500">
        <img
          class="h-auto max-w-full rounded-3xl duration-300 group-hover:scale-150"
          alt="Serenity Home Page"
          src="/serenity_main.png"
        />
        <div
          class="absolute left-1/2 top-1/2 flex -translate-x-1/2 -translate-y-1/2 items-center rounded-full bg-[#1e5462] p-2 text-xs font-bold text-white duration-1000 group-hover:opacity-0 group-hover:duration-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 fill-current"
            viewBox="0 -960 960 960"
          >
            <path
              d="M366-232q-15 10-30.5 1T320-258v-450q0-18 15.5-27t30.5 1l354 226q14 9 14 25t-14 25L366-232Z"
            ></path>
          </svg>
        </div>
        <!-- <video
          height="1080px"
          width="1920px"
          autoplay
          loop
          class="absolute left-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 rounded-3xl opacity-0 duration-300 group-hover:scale-150 group-hover:opacity-100"
          src="/serenity.mov"></video> -->
        <!-- TODO: only autoplay on hover -->
      </div>
    </div>

    <!-- <div class="flex w-1/4 flex-col justify-center gap-4"> -->
    <!-- TODO: show mobile video on mobile in the middle (code above) -->
    <!-- <div class="hoverer group relative rounded-2xl duration-300">
        <img
          class="pointer-events-none h-auto max-w-full rounded-2xl border border-neutral-800 duration-500 group-hover:-translate-x-[160%] group-hover:scale-150"
          alt="Serenity Mobile Home Page"
          src="/serenity_mobile_main.png"
        />
        <div
          class="absolute left-1/2 top-1/2 flex -translate-x-1/2 -translate-y-1/2 items-center rounded-full bg-[#1e5462] p-2 text-xs font-bold text-white duration-1000 group-hover:opacity-0 group-hover:duration-0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 fill-current"
            viewBox="0 -960 960 960"
          >
            <path
              d="M366-232q-15 10-30.5 1T320-258v-450q0-18 15.5-27t30.5 1l354 226q14 9 14 25t-14 25L366-232Z"
            ></path>
          </svg>
        </div>
        <video
          width="1080px"
          height="1920px"
          autoplay
          loop
          class="absolute left-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 rounded-2xl opacity-0 duration-300 group-hover:-translate-x-[210%] group-hover:scale-150 group-hover:opacity-100"
          src="/serenity_mobile.mov"></video>
      </div>-->
    <!-- </div> -->
  </div>

  <div class="flex justify-start p-12 landscape:h-screen"></div>
</section>

<style>
  .hoverer {
    box-shadow: 0 0 0 100dvw rgba(0, 0, 0, 0);
    /* duration-0 */
    transition: box-shadow 0s ease-in-out !important;
  }
  .hoverer:hover {
    z-index: 1;
    /* hover:duration-500 */
    transition: box-shadow 0.25s ease-in-out !important;
    box-shadow: 0 0 0 100dvw rgba(0, 0, 0, 0.5);
  }
</style>
