---
import Live from "../components/Live.astro";
---

<section class="relative flex min-h-screen w-full items-center bg-[#121212]">
  <div class="relative h-screen">
    <div
      class="absolute left-24 top-24 flex h-0 min-w-max flex-col items-start gap-4"
    >
      <h1 class="bg-[#121212] text-5xl font-bold">
        Return YouTube <br /> Dislike
      </h1>
      <h3 class="opacity-50">
        Browser extension and website <br /> for API that shows you <br /> dislikes
        on Youtube
      </h3>
      <div class="flex gap-4">
        <div
          class="rounded-xl border-[hsl(155,100%,33%)] bg-[hsl(155,100%,13%)] p-2 text-[#00DC82]"
          style="box-shadow: inset 0 0 1rem -0.25rem #00DC82, 0 0 1rem -0.25rem #00DC82;"
        >
          <svg
            role="img"
            viewBox="0 0 24 24"
            class="h-5 w-5 fill-current"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Nuxt.js</title>
            <path
              d="M13.4642 19.8295h8.9218c.2834 0 .5618-.0723.8072-.2098a1.5899 1.5899 0 0 0 .5908-.5732 1.5293 1.5293 0 0 0 .216-.783 1.529 1.529 0 0 0-.2167-.7828L17.7916 7.4142a1.5904 1.5904 0 0 0-.5907-.573 1.6524 1.6524 0 0 0-.807-.2099c-.2833 0-.5616.0724-.807.2098a1.5904 1.5904 0 0 0-.5907.5731L13.4642 9.99l-2.9954-5.0366a1.5913 1.5913 0 0 0-.591-.573 1.6533 1.6533 0 0 0-.8071-.2098c-.2834 0-.5617.0723-.8072.2097a1.5913 1.5913 0 0 0-.591.573L.2168 17.4808A1.5292 1.5292 0 0 0 0 18.2635c-.0001.2749.0744.545.216.783a1.59 1.59 0 0 0 .5908.5732c.2454.1375.5238.2098.8072.2098h5.6003c2.219 0 3.8554-.9454 4.9813-2.7899l2.7337-4.5922L16.3935 9.99l4.3944 7.382h-5.8586ZM7.123 17.3694l-3.9083-.0009 5.8586-9.8421 2.9232 4.921-1.9572 3.2892c-.7478 1.1967-1.5972 1.6328-2.9163 1.6328z"
            ></path>
          </svg>
        </div>
        <div
          class="rounded-xl border-[hsl(212,78%,52%)] bg-[hsl(212,78%,12%)] p-2 text-[hsl(212,78%,62%)]"
          style="box-shadow: inset 0 0 1rem -0.25rem hsl(212, 78%, 62%), 0 0 1rem -0.25rem hsl(212, 78%, 62%);"
        >
          <svg
            role="img"
            viewBox="0 0 24 24"
            class="h-5 w-5 fill-current"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Vuetify</title>
            <path
              d="M7.094 0L12 11.596 16.906 0H7.094zM1.5 3.5L12 24 22.5 3.5H17L12 15 7 3.5z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div
    class="relative mx-auto flex h-[90dvh] w-[90dvh] items-center gap-4 rounded-full bg-[#f222] portrait:h-[90dvw] portrait:w-[90dvw]"
    style="box-shadow: 0 0 15rem 3rem #f222, inset -15rem -15rem 15rem 0 #0008, inset 12rem 12rem 0 #fff8"
  >
    <!-- inset 9rem -9rem rgb(53, 7, 7), inset 10rem -10rem 0 #222, inset 10.5rem -10.5rem 0 #f44, inset 12rem -12rem 0 #222, inset 12.5rem -12.5rem 0 #f44, inset 14rem -14rem 0 #222, inset 14.5rem -14.5rem 0 #f44, inset 16rem -16rem 0 #222, inset 16.5rem -16.5rem 0 #f44, inset 18rem -18rem 0 #222, inset 18.5rem -18.5rem 0 #f44, inset 20rem -20rem 0 #222, inset 20.5rem -20.5rem 0 #f44, inset 22rem -22rem 0 #222, inset 22.5rem -22.5rem 0 #f44, inset 24rem -24rem 0 #222, inset 24.5rem -24.5rem 0 #f44, inset 26rem -26rem 0 #222, inset 26.5rem -26.5rem 0 #f44, inset 28rem -28rem 0 #222, inset 28.5rem -28.5rem 0 #f44, inset 200rem -200rem 0 #222 -->
    <div class="flex w-1/4 flex-col justify-center gap-4">
      <div class="hoverer group rounded-2xl duration-300">
        <img
          class="pointer-events-none h-auto max-w-full rounded-2xl border border-neutral-800 duration-500 group-hover:translate-x-[160%] group-hover:scale-150"
          alt="Return YouTube Dislike Home Page Mobile"
          src="/ryd_home_mobile.png"
        />
      </div>
    </div>
    <div class="flex w-2/4 flex-col items-center gap-4">
      <!-- <img
        class="h-auto max-w-full rounded-2xl border border-neutral-800"
        alt="Return YouTube Dislike Docs Page"
        src="/ryd_docs.png"
      /> -->
      <div class="flex max-w-full gap-4">
        <div class="hoverer group rounded-2xl duration-300">
          <img
            class="pointer-events-none rounded-xl border border-neutral-800 duration-500 group-hover:translate-x-[50%] group-hover:translate-y-[115%] group-hover:scale-150"
            alt="Return YouTube Dislike Extension Popup"
            src="/ryd_panel_main.png"
          />
        </div>
        <div class="hoverer group rounded-2xl duration-300">
          <img
            class="pointer-events-none rounded-xl border border-neutral-800 duration-500 group-hover:-translate-x-[50%] group-hover:translate-y-[115%] group-hover:scale-150"
            alt="Return YouTube Dislike Extension Settings Popup"
            src="/ryd_panel_settings.png"
          />
        </div>
      </div>
      <div class="hoverer group relative rounded-2xl duration-500">
        <img
          class="h-auto max-w-full rounded-2xl border border-neutral-800 duration-300 group-hover:scale-[2]"
          alt="Return YouTube Dislike Home Page"
          src="/ryd_main.png"
        />
        <div
          class="absolute left-2 top-2 flex items-center rounded-full bg-[#ff4444] pr-2 text-xs font-bold duration-1000 group-hover:opacity-0 group-hover:duration-0"
        >
          <Live /> Live
        </div>
        <iframe
          height="1080px"
          width="1920px"
          class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 scale-[0.21] rounded-[4rem] border-8 border-neutral-800 opacity-0 duration-300 group-hover:scale-50 group-hover:opacity-100"
          src="https://returnyoutubedislike.com/"
          title="Return YouTube Dislike"></iframe>
      </div>
      <div class="flex max-w-full gap-4">
        <div class="hoverer group w-2/3 rounded-2xl duration-300">
          <img
            class="pointer-events-none h-auto max-w-full rounded-2xl border border-neutral-800 duration-500 group-hover:-translate-y-[110%] group-hover:translate-x-[30%] group-hover:scale-[2.5]"
            alt="Return YouTube Dislike Extension Changelog Page"
            src="/ryd_changelog.png"
          />
        </div>
        <div class="hoverer group w-1/3 rounded-xl duration-300">
          <img
            class="pointer-events-none h-auto max-w-full rounded-xl border border-neutral-800 duration-500 group-hover:-translate-x-[100%] group-hover:-translate-y-[110%] group-hover:scale-[2.5]"
            alt="Return YouTube Dislike Extension Popup ColorPicker"
            src="/ryd_panel_colorpicker.png"
          />
        </div>
      </div>
      <!-- <img
        class="h-auto max-w-full rounded-2xl border border-neutral-800"
        alt="Return YouTube Dislike Install Page"
        src="/ryd_install.png"
      /> -->
    </div>

    <div class="flex w-1/4 flex-col justify-center gap-4">
      <div class="hoverer group rounded-2xl duration-300">
        <img
          class="pointer-events-none h-auto max-w-full rounded-2xl border border-neutral-800 duration-500 group-hover:-translate-x-[160%] group-hover:scale-150"
          alt="Return YouTube Dislike Links Page Mobile"
          src="/ryd_links_mobile.png"
        />
      </div>
    </div>
  </div>

  <!-- socials -->
  <div
    class="absolute bottom-24 left-24 flex gap-1 rounded-full border border-neutral-600 bg-neutral-800 p-2"
  >
    <a
      href="https://github.com/Anarios/return-youtube-dislike"
      class="group rounded-l-3xl rounded-r-lg p-2 pl-[0.66rem] duration-300 hover:scale-110 hover:bg-white"
      rel="noreferrer"
      target="_blank"
    >
      <svg
        role="img"
        viewBox="0 0 24 24"
        class="h-6 w-6 fill-current duration-300 group-hover:rotate-[360deg] group-hover:scale-90 group-hover:text-[#181717]"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>GitHub</title>
        <path
          d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
        ></path>
      </svg>
    </a>
    <a
      href="https://returnyoutubedislike.com"
      class="group rounded-l-xl rounded-r-3xl p-2 pr-[0.66rem] duration-300 hover:scale-110 hover:bg-white"
      rel="noreferrer"
      target="_blank"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 fill-current duration-300 group-hover:-rotate-[180deg] group-hover:scale-90 group-hover:text-[#181717]"
        viewBox="0 -960 960 960"
      >
        <path
          d="M280-280q-85 0-142.5-57.5T80-480q0-85 57.5-142.5T280-680h140q12.75 0 21.375 8.675 8.625 8.676 8.625 21.5 0 12.825-8.625 21.325T420-620H280q-60 0-100 40t-40 100q0 60 40 100t100 40h140q12.75 0 21.375 8.675 8.625 8.676 8.625 21.5 0 12.825-8.625 21.325T420-280H280Zm75-170q-12.75 0-21.375-8.675-8.625-8.676-8.625-21.5 0-12.825 8.625-21.325T355-510h250q12.75 0 21.375 8.675 8.625 8.676 8.625 21.5 0 12.825-8.625 21.325T605-450H355Zm185 170q-12.75 0-21.375-8.675-8.625-8.676-8.625-21.5 0-12.825 8.625-21.325T540-340h140q60 0 100-40t40-100q0-60-40-100t-100-40H540q-12.75 0-21.375-8.675-8.625-8.676-8.625-21.5 0-12.825 8.625-21.325T540-680h140q85 0 142.5 57.5T880-480q0 85-57.5 142.5T680-280H540Z"
        ></path>
      </svg>
    </a>
  </div>

  <style>
    .hoverer {
      box-shadow: 0 0 0 100dvw rgba(0, 0, 0, 0);
      /* duration-0 */
      transition: box-shadow 0s ease-in-out !important;
    }
    .hoverer:hover {
      z-index: 1;
      /* hover:duration-500 */
      transition: box-shadow 0s ease-in-out !important;
      box-shadow: 0 0 0 100dvw rgba(0, 0, 0, 0.5);
    }
  </style>
</section>
