---
import Tailwind from "./tools/Tailwind.astro";
import Socials from "./Socials.astro";
import Astr from "./tools/Astro.astro";
---

<section
  class="relative flex min-h-screen w-full snap-center justify-between bg-gradient-to-b from-black via-black to-[#121212] portrait:flex-col landscape:items-center"
>
  <div class="relative p-12 landscape:h-screen">
    <div
      class="left-4 top-4 flex min-w-max flex-col items-start gap-4 lg:left-12 lg:top-12 xl:left-24 xl:top-24 landscape:absolute"
    >
      <h1 class="font-mono text-4xl font-bold italic">PickleNik</h1>
      <div class="flex gap-2">
        <h2
          class="rounded-full border-red-300 bg-red-500 bg-opacity-50 px-2 text-red-100"
          style="text-shadow: 0 0 0.5rem #fecaca; box-shadow: inset 0 0 0.5rem #fecaca;"
        >
          Live
        </h2>
        <h2
          class="rounded-full border border-teal-300 bg-teal-500 bg-opacity-50 px-2 text-teal-200"
        >
          Work In Progress
        </h2>
      </div>
      <h3 class="opacity-50">Turning caffeine into software</h3>
      <!-- <h1 class="font-mono text-4xl font-bold italic text-red-400">
        PortfoLio
      </h1> -->
      <div class="flex gap-4">
        <Astr />
        <Tailwind />
      </div>
    </div>
  </div>
  <img
    class="absolute right-12 top-12 lg:right-24 lg:top-24"
    alt="GitHub Repo stars"
    src="https://img.shields.io/github/stars/PickleNik/portfolio?color=%23ffaa00"
  />
  <div
    class="flex h-full w-full flex-col items-center justify-center text-neutral-400"
  >
    <!-- <h1 class="text-6xl font-bold">Hello World</h1>
    <p class="text-xl">Lorem ipsum dolor sit amet consectetur.</p> -->
    <!-- // todo: links navigate down to projects, mdx is pulled from github and rendered
    by astro
    <img
      class="max-w-screen-md rounded-3xl landscape:w-1/2"
      src="/hub.png"
      alt="github mdx placeholder"
    /> -->
    <div class="relative -mt-20 w-full skew-y-[15deg] md:ml-auto md:w-1/2">
      <div
        class="relative flex snap-x snap-mandatory flex-row-reverse gap-4 overflow-x-auto rounded-l-3xl px-48 py-8"
      >
        <div class="flex snap-center flex-col gap-4">
          <b
            class="-mb-2 flex max-w-min items-center bg-gradient-to-r from-indigo-400 from-35% via-pink-400 to-orange-400 bg-clip-text pl-2 text-xl font-bold text-transparent"
          >
            <svg
              fill="currentColor"
              viewBox="4 4 48 48"
              class="inline-block text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              height="20"
              width="20"
            >
              <path
                d="m19.2 36.4-4.75-10.45L4 21.2l10.45-4.75L19.2 6l4.75 10.45L34.4 21.2l-10.45 4.75ZM36.4 42l-2.35-5.25-5.25-2.35 5.25-2.4 2.35-5.2 2.4 5.2 5.2 2.4-5.2 2.35Z"
              ></path>
            </svg>
            2023
          </b>
          <div
            class="card1 h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-emerald-400 hover:bg-emerald-700"
          >
          </div>
          <div
            class="card2 h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-teal-400 hover:bg-teal-700"
          >
          </div>
        </div>
        <div class="flex snap-center flex-col gap-4">
          <b class="-mb-2 pl-2 text-xl font-bold">2022</b>
          <div
            class="h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-neutral-400 hover:bg-neutral-700"
          >
          </div>
          <div
            class="h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-neutral-400 hover:bg-neutral-700"
          >
          </div>
        </div>
        <div class="flex snap-center flex-col gap-4">
          <b class="-mb-2 pl-2 text-xl font-bold">2021</b>
          <div
            class="h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-neutral-400 hover:bg-neutral-700"
          >
          </div>
          <div
            class="h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-neutral-400 hover:bg-neutral-700"
          >
          </div>
        </div>
        <div class="flex snap-center flex-col gap-4">
          <b class="-mb-2 pl-2 text-xl font-bold">2020</b>
          <div
            class="h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-neutral-400 hover:bg-neutral-700"
          >
          </div>
        </div>
        <div class="flex snap-center flex-col gap-4">
          <b class="-mb-2 pl-2 text-xl font-bold">2019</b>
          <div
            class="h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-neutral-400 hover:bg-neutral-700"
          >
          </div>
          <div
            class="h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-neutral-400 hover:bg-neutral-700"
          >
          </div>
        </div>
        <div class="flex snap-center flex-col gap-4">
          <!-- todo: text-gradient -->
          <b class="-mb-2 pl-2 text-xl font-bold">2017</b>
          <div
            class="h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-neutral-400 hover:bg-neutral-700"
          >
          </div>
        </div>
      </div>
      <div
        class="pointer-events-none absolute left-0 top-0 h-full w-full min-w-full bg-gradient-to-r from-black to-transparent to-50%"
      >
      </div>
    </div>
  </div>
  <div class="flex justify-center p-12">
    <div class="bottom-24 left-24 landscape:absolute">
      <Socials
        github="https://github.com/PickleNik"
        discord="https://discord.com/users/714555429618843650"
        twitter="https://twitter.com/picklenik0864"
        mail="mailto:email@gmail.com"
        kofi="https://ko-fi.com/picklenik"
      />
    </div>
  </div>
</section>

<style>
  .card2:hover {
    box-shadow: 0 0 1.5rem #4fd1c5;
  }
  .card1:hover {
    box-shadow: 0 0 1.5rem #10b981;
  }
</style>
