---
import Project from "./Project.astro";

import Offline from "./status/Offline.astro";
import WorkInProgress from "./status/WIP.astro";

import Tailwind from "./tools/Tailwind.astro";
import React from "./tools/React.astro";
import Next from "./tools/Next.astro";
import Prisma from "./tools/Prisma.astro";

import Socials from "./Socials.astro";
---

<Project class="overflow-x-hidden">
  <span slot="title" class="leading-[0.75em]">type <br /> hero</span>
  <Offline slot="status" />
  <WorkInProgress slot="status" />
  <span slot="description"> Typescript challenges platform;</span>
  <Next slot="stack" />
  <Prisma slot="stack" />
  <React slot="stack" />
  <Tailwind slot="stack" />
  <Socials
    discord="https://discord.gg/trashdev"
    link="https://typehero.dev"
    slot="links"
  />
  <div
    slot="middle"
    class="relative mx-auto flex h-full w-full items-center justify-center gap-4 rounded-full border-2 border-double border-neutral-800 ring ring-neutral-800 ring-offset-8 ring-offset-black"
  >
    <div
      class="absolute left-1/2 top-1/2 h-24 w-24 -translate-x-1/2 -translate-y-1/2 rounded-full bg-white/10 blur-md"
    >
    </div>
    <svg
      class="storke-4 animate-myspin absolute h-[105%] w-full stroke-neutral-500 p-4 pl-6"
      width="562"
      height="562"
      preserveAspectRatio="none"
      viewBox="0 0 562 562"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M28.6214 173.404L32.786 164.318L60.5608 177.396C63.6793 178.864 66.0651 180.898 67.7179 183.496C69.3772 186.08 70.2488 189.016 70.3328 192.304C70.4029 195.585 69.6236 199.003 67.9949 202.556C66.3599 206.123 64.2826 208.938 61.7631 211C59.2298 213.056 56.4538 214.274 53.4352 214.656C50.4166 215.037 47.348 214.494 44.2294 213.025L16.4546 199.948L20.6192 190.862L47.6213 203.576C49.2502 204.343 50.8616 204.668 52.4556 204.551C54.0559 204.42 55.5194 203.868 56.8461 202.894C58.1728 201.919 59.2369 200.558 60.0384 198.81C60.8463 197.047 61.1864 195.345 61.0588 193.703C60.9376 192.047 60.407 190.564 59.4671 189.254C58.5336 187.93 57.2524 186.885 55.6235 186.118L28.6214 173.404Z"
        fill="none"></path>
      <path
        d="M67.0271 160.132L83.7757 171.948L78.2086 180.053L49.2381 159.615L54.5438 151.89L59.6552 155.496L59.8904 155.153C58.6498 153.318 58.0619 151.293 58.1266 149.079C58.1787 146.856 58.9497 144.66 60.4394 142.491C61.8334 140.461 63.4889 139.002 65.4058 138.114C67.3227 137.225 69.386 136.939 71.5957 137.255C73.7927 137.562 76.0166 138.51 78.2674 140.098L96.7134 153.111L91.1463 161.217L74.1337 149.214C72.3694 147.951 70.6727 147.432 69.0433 147.657C67.4014 147.873 66.0229 148.793 64.9077 150.417C64.1584 151.508 63.7289 152.636 63.6191 153.801C63.5181 154.954 63.7528 156.08 64.3232 157.179C64.8897 158.257 65.791 159.241 67.0271 160.132Z"
        fill="none"></path>
      <path
        d="M109.122 140.145C107.264 142.094 105.086 143.374 102.589 143.987C100.091 144.577 97.4337 144.387 94.6175 143.416C91.8008 142.423 88.9799 140.543 86.1546 137.776C83.2524 134.933 81.2907 132.096 80.2696 129.265C79.2375 126.424 78.9919 123.749 79.5329 121.242C80.0735 118.713 81.2412 116.508 83.036 114.626C84.406 113.189 85.7895 112.229 87.1865 111.745C88.5831 111.239 89.9202 111.041 91.1976 111.151C92.4747 111.239 93.6026 111.46 94.5816 111.816L94.7887 111.599L82.0915 99.1622L88.8617 92.0628L122.633 125.142L115.942 132.157L111.886 128.184L111.599 128.485C111.984 129.508 112.231 130.665 112.339 131.956C112.447 133.225 112.265 134.565 111.792 135.975C111.329 137.374 110.439 138.764 109.122 140.145ZM105.683 132.414C106.777 131.267 107.393 129.997 107.531 128.603C107.669 127.188 107.379 125.719 106.662 124.198C105.955 122.665 104.848 121.161 103.342 119.686C101.836 118.211 100.326 117.141 98.812 116.477C97.2981 115.812 95.8565 115.585 94.4872 115.795C93.118 116.004 91.8864 116.682 90.7926 117.829C89.6775 118.999 89.0509 120.291 88.9129 121.707C88.7749 123.122 89.0645 124.58 89.7819 126.079C90.4993 127.579 91.589 129.045 93.0511 130.477C94.5242 131.92 96.0234 132.99 97.5487 133.687C99.0735 134.362 100.532 134.617 101.923 134.45C103.315 134.262 104.568 133.584 105.683 132.414Z"
        fill="none"></path>
      <path
        d="M140.678 112.944C137.772 115.147 134.832 116.45 131.858 116.851C128.887 117.231 126.028 116.753 123.282 115.417C120.527 114.069 118.039 111.891 115.818 108.882C113.652 105.948 112.315 102.946 111.807 99.8743C111.299 96.8029 111.612 93.8719 112.746 91.0812C113.892 88.2812 115.85 85.8305 118.622 83.7292C120.485 82.316 122.444 81.3037 124.499 80.6923C126.556 80.0592 128.629 79.8875 130.717 80.1772C132.817 80.4576 134.877 81.252 136.894 82.5605C138.903 83.8565 140.803 85.7178 142.595 88.1443L144.199 90.3169L120.344 108.406L116.724 103.503L133.204 91.0071C132.363 89.8681 131.373 89.0451 130.234 88.5381C129.094 88.031 127.906 87.8599 126.67 88.0249C125.437 88.1681 124.25 88.6721 123.11 89.5368C121.921 90.4387 121.072 91.5168 120.564 92.7713C120.058 94.004 119.891 95.2799 120.061 96.5989C120.223 97.9055 120.713 99.1267 121.533 100.263L124.974 104.924C126.016 106.335 127.174 107.359 128.447 107.996C129.733 108.624 131.06 108.854 132.428 108.685C133.795 108.517 135.135 107.936 136.447 106.941C137.318 106.281 138.023 105.553 138.564 104.757C139.105 103.96 139.45 103.119 139.599 102.234C139.748 101.348 139.693 100.444 139.433 99.5214L147.036 94.5092C147.966 96.5461 148.345 98.653 148.174 100.83C148.005 102.985 147.295 105.107 146.045 107.195C144.797 109.261 143.008 111.177 140.678 112.944Z"
        fill="none"></path>
      <path
        d="M156.507 100.832L139.252 69.8599L147.526 65.1255L150.537 70.5295L150.857 70.3461C150.347 68.1028 150.48 66.1122 151.256 64.3743C152.024 62.6229 153.269 61.2543 154.992 60.2685C155.42 60.0239 155.895 59.7871 156.419 59.5582C156.944 59.3292 157.419 59.1547 157.845 59.0348L162.092 66.6569C161.624 66.7652 161.009 66.9748 160.249 67.2857C159.489 67.5967 158.815 67.9203 158.227 68.2565C156.972 68.9749 156.003 69.8924 155.322 71.0091C154.646 72.1047 154.291 73.3008 154.256 74.5973C154.234 75.8861 154.575 77.1624 155.279 78.426L165.042 95.9487L156.507 100.832Z"
        fill="none"></path>
      <path
        d="M222.037 40.2837L212.382 43.2829C211.827 42.0857 211.13 41.0855 210.292 40.2822C209.45 39.4643 208.498 38.8416 207.436 38.4141C206.375 37.9866 205.23 37.7622 204.001 37.7409C202.788 37.715 201.534 37.9029 200.241 38.3047C197.905 39.0305 196.045 40.2445 194.663 41.9468C193.277 43.6343 192.44 45.7311 192.153 48.2372C191.862 50.7286 192.19 53.5429 193.139 56.6802C194.115 59.9059 195.413 62.4677 197.032 64.3656C198.665 66.2589 200.519 67.496 202.591 68.0768C204.664 68.6575 206.839 68.5941 209.117 67.8865C210.396 67.4894 211.527 66.9525 212.512 66.276C213.512 65.5948 214.34 64.7978 214.996 63.885C215.648 62.9574 216.111 61.9356 216.384 60.8194C216.672 59.6987 216.744 58.5003 216.599 57.224L226.267 54.269C226.645 56.4234 226.627 58.6206 226.211 60.8605C225.806 63.0812 224.995 65.2102 223.779 67.2477C222.572 69.2659 220.949 71.0753 218.91 72.6757C216.88 74.2569 214.418 75.4971 211.523 76.3964C207.496 77.6471 203.619 77.8523 199.893 77.012C196.181 76.167 192.883 74.2992 189.999 71.4084C187.129 68.5131 184.951 64.6057 183.462 59.6862C181.97 54.7519 181.626 50.2665 182.43 46.23C183.235 42.1935 184.95 38.7764 187.577 35.9787C190.198 33.1663 193.493 31.1438 197.461 29.9112C200.077 29.0987 202.613 28.7137 205.07 28.7563C207.541 28.7943 209.857 29.251 212.019 30.1263C214.176 30.9869 216.106 32.2647 217.809 33.9595C219.526 35.6497 220.935 37.7578 222.037 40.2837Z"
        fill="none"></path>
      <path
        d="M249.455 68.2029C245.898 68.6587 242.728 68.2971 239.945 67.1179C237.175 65.9215 234.918 64.0543 233.174 61.5163C231.429 58.963 230.331 55.8845 229.881 52.2809C229.428 48.6467 229.733 45.3806 230.798 42.4826C231.861 39.5694 233.588 37.1916 235.979 35.3493C238.383 33.4897 241.363 32.3321 244.919 31.8763C248.476 31.4205 251.639 31.7908 254.409 32.9872C257.193 34.1663 259.457 36.0325 261.203 38.5858C262.946 41.1239 264.045 44.21 264.499 47.8442C264.949 51.4478 264.642 54.7063 263.579 57.6195C262.514 60.5175 260.78 62.8963 258.375 64.7558C255.985 66.5981 253.011 67.7472 249.455 68.2029ZM248.557 60.6386C250.175 60.4312 251.468 59.8 252.438 58.7449C253.405 57.6746 254.063 56.3025 254.413 54.6288C254.777 52.9531 254.832 51.0922 254.576 49.046C254.321 46.9999 253.811 45.2113 253.046 43.6804C252.296 42.1475 251.321 40.9848 250.121 40.1922C248.921 39.3997 247.513 39.1071 245.895 39.3144C244.261 39.5237 242.946 40.1655 241.948 41.2398C240.965 42.3121 240.292 43.6861 239.927 45.3618C239.578 47.0355 239.531 48.8955 239.786 50.9416C240.042 52.9877 240.544 54.7773 241.294 56.3102C242.059 57.8411 243.049 59.0019 244.264 59.7925C245.493 60.5659 246.924 60.8479 248.557 60.6386Z"
        fill="none"></path>
      <path
        d="M281.37 45.0555L280.641 65.5397L270.815 65.1799L272.076 29.7478L281.441 30.0907L281.218 36.3421L281.634 36.3573C282.491 34.3253 283.864 32.7433 285.752 31.6114C287.641 30.464 289.9 29.9385 292.529 30.0348C294.99 30.1249 297.116 30.7417 298.908 31.8852C300.699 33.0288 302.067 34.6187 303.011 36.6551C303.955 38.6761 304.378 41.0629 304.28 43.8157L303.478 66.376L293.651 66.0162L294.392 45.209C294.484 43.0412 293.991 41.3293 292.911 40.0733C291.832 38.8019 290.309 38.1302 288.341 38.0581C287.018 38.0096 285.839 38.2513 284.804 38.7832C283.784 39.3156 282.97 40.1173 282.362 41.1883C281.771 42.2446 281.44 43.5336 281.37 45.0555Z"
        fill="none"></path>
      <path
        d="M342.351 47.8464L333.411 46.6701C333.403 45.8847 333.208 45.1411 332.824 44.4393C332.443 43.7224 331.879 43.1031 331.132 42.5814C330.403 42.0475 329.48 41.6718 328.362 41.4541C326.867 41.163 325.545 41.2349 324.398 41.6699C323.253 42.0898 322.582 42.8213 322.384 43.8646C322.227 44.6961 322.426 45.4639 322.982 46.1678C323.537 46.8717 324.59 47.5549 326.141 48.2174L332.199 50.7138C335.45 52.0681 337.761 53.6781 339.13 55.5438C340.499 57.4094 340.946 59.5972 340.47 62.1069C340.038 64.3899 338.986 66.2623 337.315 67.7242C335.659 69.1889 333.576 70.1786 331.067 70.6933C328.575 71.1959 325.819 71.153 322.798 70.5648C318.191 69.6678 314.703 67.993 312.333 65.5405C309.981 63.0759 308.886 60.1349 309.048 56.7175L318.636 58.067C318.656 59.529 319.148 60.7377 320.11 61.6933C321.075 62.6337 322.418 63.2715 324.14 63.6068C325.832 63.9362 327.253 63.8759 328.403 63.4257C329.572 62.9634 330.262 62.2121 330.475 61.1719C330.626 60.292 330.392 59.5018 329.773 58.8012C329.157 58.0855 328.122 57.4294 326.669 56.8329L320.87 54.4575C317.601 53.1153 315.294 51.4434 313.951 49.4417C312.622 47.4429 312.205 45.1432 312.697 42.5427C313.121 40.3051 314.091 38.495 315.606 37.1126C317.136 35.7331 319.087 34.8196 321.458 34.372C323.845 33.9275 326.526 33.9949 329.501 34.5743C333.897 35.4301 337.18 37.0335 339.35 39.3843C341.535 41.7381 342.535 44.5587 342.351 47.8464Z"
        fill="none"></path>
      <path
        d="M369.967 46.1623L367.732 53.2024L347.433 46.5823L349.668 39.5422L369.967 46.1623ZM356.846 32.949L366.195 35.9978L356.193 67.5023C355.919 68.3677 355.836 69.0853 355.946 69.6552C356.06 70.2104 356.321 70.6597 356.729 71.003C357.151 71.3512 357.677 71.6278 358.306 71.833C358.745 71.9761 359.195 72.0826 359.657 72.1524C360.124 72.2075 360.482 72.2512 360.73 72.2836L359.986 79.7372C359.471 79.7312 358.759 79.6852 357.85 79.5991C356.936 79.5277 355.865 79.316 354.637 78.964C352.356 78.3172 350.477 77.3724 348.998 76.1296C347.535 74.8916 346.565 73.3939 346.09 71.6365C345.615 69.8791 345.736 67.8954 346.454 65.6855L356.846 32.949Z"
        fill="none"></path>
      <path
        d="M363.814 81.7718L377.99 49.2747L386.689 53.173L384.216 58.8431L384.553 58.9941C386.023 57.2414 387.677 56.1618 389.517 55.7551C391.362 55.3343 393.191 55.5298 395.002 56.3416C395.451 56.5429 395.924 56.7882 396.419 57.0775C396.914 57.3667 397.336 57.6488 397.686 57.9238L394.198 65.9211C393.832 65.6054 393.298 65.2314 392.597 64.7991C391.896 64.3669 391.236 64.0123 390.618 63.7355C389.298 63.1439 387.993 62.9045 386.701 63.0171C385.43 63.122 384.271 63.5468 383.224 64.2918C382.191 65.043 381.386 66.0816 380.807 67.4074L372.787 85.7928L363.814 81.7718Z"
        fill="none"></path>
      <path
        d="M412.786 90.5313L423.315 73.1063L431.669 78.2916L413.334 108.637L405.313 103.659L408.643 98.1468L408.33 97.952C406.575 99.3081 404.581 100.035 402.346 100.133C400.125 100.24 397.883 99.5908 395.621 98.187C393.608 96.9373 392.114 95.3768 391.142 93.5054C390.169 91.6341 389.765 89.5811 389.928 87.3465C390.105 85.12 390.903 82.8173 392.322 80.4385L403.997 61.117L412.351 66.3022L401.584 84.1223C400.515 85.9216 400.137 87.6337 400.45 89.2584C400.762 90.8831 401.71 92.1865 403.292 93.1683C404.298 93.7932 405.379 94.1469 406.534 94.2296C407.696 94.2992 408.824 94.0393 409.917 93.45C411.023 92.8689 411.98 91.896 412.786 90.5313Z"
        fill="none"></path>
      <path
        d="M429.943 122.198C427.197 119.822 425.33 117.19 424.343 114.302C423.377 111.412 423.252 108.455 423.967 105.432C424.694 102.419 426.213 99.5414 428.522 96.799C430.862 94.0213 433.443 92.043 436.267 90.8641C439.112 89.6835 442.014 89.3554 444.972 89.8798C447.94 90.3924 450.78 91.8216 453.491 94.1674C455.831 96.191 457.517 98.3925 458.551 100.772C459.584 103.151 459.959 105.561 459.675 108C459.39 110.44 458.418 112.753 456.759 114.938L449.741 108.868C450.683 107.343 451.076 105.801 450.921 104.242C450.786 102.682 450.039 101.312 448.677 100.135C447.525 99.1379 446.25 98.5848 444.854 98.4754C443.479 98.3643 442.047 98.7026 440.559 99.4904C439.071 100.278 437.608 101.525 436.171 103.232C434.713 104.962 433.707 106.635 433.152 108.25C432.608 109.875 432.499 111.378 432.825 112.758C433.15 114.139 433.89 115.327 435.042 116.324C435.891 117.059 436.802 117.542 437.775 117.773C438.759 118.014 439.754 117.99 440.762 117.702C441.79 117.412 442.776 116.85 443.719 116.018L450.736 122.089C448.875 124.059 446.78 125.4 444.451 126.112C442.143 126.822 439.745 126.863 437.256 126.235C434.767 125.608 432.329 124.262 429.943 122.198Z"
        fill="none"></path>
      <path
        d="M483.078 124.658L477.66 129.679L463.358 113.825L468.776 108.805L483.078 124.658ZM478.253 106.631L484.84 113.932L460.595 136.398C459.929 137.015 459.502 137.599 459.315 138.15C459.14 138.69 459.143 139.211 459.327 139.713C459.52 140.226 459.838 140.728 460.282 141.219C460.591 141.562 460.928 141.878 461.294 142.169C461.671 142.449 461.959 142.665 462.158 142.816L457.826 148.938C457.384 148.677 456.79 148.283 456.045 147.756C455.29 147.24 454.467 146.523 453.577 145.606C451.922 143.909 450.762 142.153 450.097 140.336C449.442 138.53 449.343 136.744 449.801 134.977C450.259 133.211 451.345 131.543 453.06 129.975L478.253 106.631Z"
        fill="none"></path>
      <path
        d="M460.814 153.655L488.828 131.924L494.754 139.771L466.74 161.502L460.814 153.655ZM495.416 133.065C494.535 131.898 494.162 130.6 494.298 129.171C494.454 127.745 495.074 126.612 496.156 125.773C497.226 124.943 498.455 124.642 499.842 124.87C501.251 125.102 502.396 125.801 503.277 126.967C504.158 128.134 504.52 129.43 504.363 130.857C504.228 132.286 503.625 133.415 502.555 134.245C501.473 135.085 500.228 135.389 498.819 135.157C497.432 134.929 496.297 134.231 495.416 133.065Z"
        fill="none"></path>
      <path
        d="M478.071 180.222C476.247 177.135 475.32 174.071 475.291 171.028C475.282 167.991 476.089 165.152 477.71 162.512C479.344 159.864 481.713 157.597 484.817 155.712C487.948 153.812 491.044 152.76 494.106 152.557C497.181 152.346 500.031 152.965 502.657 154.413C505.303 155.866 507.539 158.136 509.364 161.222C511.188 164.309 512.105 167.371 512.113 170.408C512.142 173.45 511.339 176.296 509.705 178.944C508.084 181.584 505.709 183.855 502.578 185.756C499.474 187.64 496.384 188.688 493.309 188.899C490.248 189.102 487.393 188.477 484.747 187.024C482.121 185.576 479.896 183.308 478.071 180.222ZM484.606 176.308C485.436 177.712 486.523 178.645 487.869 179.107C489.227 179.56 490.738 179.606 492.401 179.244C494.072 178.896 495.788 178.186 497.551 177.116C499.314 176.046 500.741 174.846 501.832 173.518C502.931 172.202 503.604 170.831 503.85 169.403C504.097 167.975 503.805 166.56 502.975 165.155C502.137 163.738 501.031 162.789 499.657 162.31C498.29 161.843 496.772 161.784 495.101 162.132C493.438 162.494 491.725 163.21 489.963 164.28C488.2 165.35 486.769 166.543 485.67 167.859C484.579 169.187 483.914 170.572 483.675 172.013C483.458 173.459 483.768 174.891 484.606 176.308Z"
        fill="none"></path>
      <path
        d="M510.93 197.945L491.961 205.711L488.319 196.577L521.13 183.144L524.601 191.849L518.812 194.219L518.966 194.605C521.165 194.553 523.161 195.157 524.956 196.417C526.765 197.672 528.157 199.522 529.131 201.966C530.043 204.253 530.339 206.451 530.021 208.56C529.702 210.669 528.805 212.575 527.33 214.276C525.869 215.972 523.864 217.341 521.315 218.385L500.423 226.938L496.782 217.804L516.05 209.916C518.063 209.108 519.425 207.952 520.134 206.448C520.857 204.938 520.854 203.268 520.125 201.438C519.634 200.209 518.938 199.231 518.035 198.503C517.138 197.79 516.078 197.375 514.856 197.26C513.654 197.154 512.345 197.382 510.93 197.945Z"
        fill="none"></path>
    </svg>
  </div>
</Project>

<style>
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .animate-myspin {
    animation: spin 15s linear infinite;
  }
</style>
