---
import Project from "../components/ProjecTemplate.astro";

import LiveStatus from "../components/status/Live.astro";
import WorkInProgress from "../components/status/WIP.astro";

import Tailwind from "../components/tools/Tailwind.astro";
import Socials from "../components/Socials.astro";
import Astr from "../components/tools/Astro.astro";
import Htmx from "../components/tools/Htmx.astro";

import { Image } from "astro:assets";
import BingOat from "../BingOat.png";

// const response = await fetch(
//   "https://api.github.com/repos/picklenik/portfolio",
//   {
//     headers: { Authentication: `Bearer ${import.meta.env.GH_TKN}` },
//   }
// );
// const data = await response.json();
// const stargazers = data.stargazers_count;
const stargazers = 0;
---

<Project
  class="overflow-x-hidden bg-gradient-to-b from-neutral-950 via-neutral-950 to-[#121212]"
>
  <img src="/logo.svg" class="absolute top-24 left-24 scale-[0.75] z-10 opacity-30 bakcdrop-blur-xl [mask-image:linear-gradient(135deg,transparent,white_69%)]" />
  <span slot="title">PickleNik</span>
  <WorkInProgress slot="status" />
  <LiveStatus slot="status" />
  <span slot="description">Turning caffeine into software</span>
  <Tailwind slot="stack" />
  <Astr slot="stack" />
  <!-- <Htmx slot="stack" /> -->
  <Socials
    github="https://github.com/PickleNik"
    discord="https://discord.com/users/714555429618843650"
    twitter="https://twitter.com/picklenik0864"
    mail="mailto:email@gmail.com"
    kofi="https://ko-fi.com/picklenik"
    slot="links"
  />
  <!-- <h1 class="text-6xl font-bold">Hello World</h1>
    <p class="text-xl">Lorem ipsum dolor sit amet consectetur.</p> -->
  <!-- // todo: links navigate down to projects, mdx is pulled from github and rendered
    by astro
    <img
      class="max-w-screen-md rounded-3xl landscape:w-1/2"
      src="/hub.png"
      alt="github mdx placeholder"
    /> -->
  <div class="absolute right-12 top-12 lg:right-24 lg:top-24">
    ⭐️ Stars
    {stargazers}
  </div>
  <div
    slot="aftertitle"
    class="flex opacity-0 animate-fadein z-50 h-full w-full flex-col items-center justify-center text-neutral-400"
  >
    <div class="relative w-full skew-y-12 md:-mt-20 md:ml-auto md:w-3/4">
      <div
        class="relative flex snap-x snap-mandatory flex-row-reverse gap-4 overflow-x-auto scrollbar-hidden pr-24 py-8 [mask-image:linear-gradient(to_right,transparent,white_69%)]"
      >
        <div class="relative flex snap-center flex-col justify-end gap-4 bg-gradient-to-br from-indigo-400/30 via-pink-300/60 to-yellow-100/50 backdrop-blur-md rounded-3xl p-4">
          <div class="absolute h-full w-full blur-lg scale-95 -z-10 top-4 flex snap-center flex-col justify-end gap-4 bg-gradient-to-br from-indigo-400/30 via-pink-300/60 to-yellow-100/50 rounded-[3rem] p-4 shadow-[1rem_1rem_1rem_-0.25rem_#fef9c344]"></div>
          <b
            class="-mb-2 flex max-w-min items-center bg-gradient-to-r from-indigo-400 from-35% via-pink-400 to-orange-400 bg-clip-text text-xl font-bold text-transparent"
          >
            <svg
              fill="currentColor"
              viewBox="4 4 48 48"
              class="inline-block text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              height="20"
              width="20"
            >
              <path
                d="m19.2 36.4-4.75-10.45L4 21.2l10.45-4.75L19.2 6l4.75 10.45L34.4 21.2l-10.45 4.75ZM36.4 42l-2.35-5.25-5.25-2.35 5.25-2.4 2.35-5.2 2.4 5.2 5.2 2.4-5.2 2.35Z"
              ></path>
            </svg>
            2024
          </b>
          <div
            class="0 h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-blue-400 hover:bg-black hover:shadow-[0_0_1.5rem_#3b82f6]"
          >
            CreateExpoStack
          </div>
          <div
            class="0 h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-blue-400 hover:bg-black hover:shadow-[0_0_1.5rem_#3b82f6]"
          >
            NextThing
          </div>
          <div
            class="0 h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-blue-400 hover:bg-black hover:shadow-[0_0_1.5rem_#3b82f6]"
          >
            NativeWindUI
          </div>
        </div>
        <div class="flex snap-center flex-col justify-end gap-4">
          <div
            class="0 h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-blue-400 hover:bg-black hover:shadow-[0_0_1.5rem_#3b82f6]"
          >
            Voccent Redesign
          </div>
          <div
            class="0 h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-blue-400 hover:bg-black hover:shadow-[0_0_1.5rem_#3b82f6]"
          >
            Voccent Landing
          </div>
        </div>
        <div class="flex snap-center flex-col justify-end gap-4">
          <a
            href="#typehero"
            aria-label="TypeHero"
            class="grid h-48 w-96 cursor-pointer place-items-center rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-gray-400 hover:bg-gray-700 hover:shadow-[0_0_1.5rem_#6b7280] active:translate-x-0 active:translate-y-0 active:scale-95 active:duration-75"
          >
            <h1 class="text-2xl font-bold leading-5 text-white">
              type<br />
              hero
            </h1>
          </a>
          <div
            class="0 h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-blue-400 hover:bg-black hover:shadow-[0_0_1.5rem_#3b82f6]"
          >
            Ratelimited.lol
          </div>
          <div
            class="0 h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-blue-400 hover:bg-black hover:shadow-[0_0_1.5rem_#3b82f6]"
          >
            vercel.lol
          </div>
        </div>
        <div class="flex snap-center flex-col justify-end gap-4">
          <div
            class="0 h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-blue-400 hover:bg-black hover:shadow-[0_0_1.5rem_#3b82f6]"
          >
            Shrimpl. GPA Calculator
          </div>
          <div
            class="0 h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-blue-400 hover:bg-black hover:shadow-[0_0_1.5rem_#3b82f6]"
          >
            Constituwuncy
          </div>
        </div>
        <div class="flex snap-center flex-col justify-end gap-4">
          <b
            class="-mb-2 flex max-w-min items-center bg-gradient-to-r from-green-400 from-35% via-emerald-400 to-blue-400 bg-clip-text pl-2 text-xl font-bold text-transparent"
          >
            <svg
              fill="currentColor"
              viewBox="4 4 48 48"
              class="inline-block text-green-400"
              xmlns="http://www.w3.org/2000/svg"
              height="20"
              width="20"
            >
              <path
                d="m19.2 36.4-4.75-10.45L4 21.2l10.45-4.75L19.2 6l4.75 10.45L34.4 21.2l-10.45 4.75ZM36.4 42l-2.35-5.25-5.25-2.35 5.25-2.4 2.35-5.2 2.4 5.2 5.2 2.4-5.2 2.35Z"
              ></path>
            </svg>
            2023
          </b>
          <div
            class="card1 grid place-content-center place-items-center h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-emerald-400 hover:bg-emerald-700"
          >
            <img class="h-8" src="https://realzoo.itsyipy.com/_app/immutable/assets/egg.2ec6be00.webp"  alt="egg" />
            <span
              slot="title"
              class="text-black text-2xl"
              style="text-shadow: -0.05rem -0.05rem #fff, 0.05rem 0.05rem #fff, -0.05rem 0.05rem #fff, 0.05rem -0.05rem #fff"
            >
              REALZOO
            </span>
          </div>
          <div
            class="grid place-items-center h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-blue-400 hover:bg-black hover:shadow-[0_0_1.5rem_#3b82f6]"
          >
            <Image class="w-32" src={BingOat} alt="BingOat" />
          </div>
          <div
            class="card2 h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-teal-400 hover:bg-teal-700"
          >
            VueTube Site
          </div>
        </div>
        <div class="flex snap-center flex-col justify-end gap-4">
          <b class="-mb-2 pl-2 text-xl font-bold">2022</b>
          <div
            class="h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-neutral-400 hover:bg-neutral-700"
          >
            SponsorBlock Redesign
          </div>
          <!-- <div
            class="h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-neutral-400 hover:bg-neutral-700"
          >
            Serenity
          </div> -->
          <div
            class="h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-neutral-400 hover:bg-neutral-700"
          >
            VueTube
          </div>
        </div>
        <div class="flex snap-center flex-col justify-end gap-4">
          <b class="-mb-2 pl-2 text-xl font-bold">2021</b>
          <div
            class="h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-neutral-400 hover:bg-neutral-700"
          >
            ReturnYouTubeDislike
          </div>
        </div>
        <div class="flex snap-center flex-col justify-end gap-4">
          <b class="-mb-2 pl-2 text-xl font-bold">2020</b>
          <div
            class="h-48 w-96 cursor-pointer rounded-2xl border border-neutral-600 bg-neutral-800 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-neutral-400 hover:bg-neutral-700"
          >
            Voccent v0
            <svg xmlns="http://www.w3.org/2000/svg"><symbol id="voccent" fill="none" stroke-width="50" stroke="currentColor" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1250 400"><path d="M355.87 98.92C352.91 122.85 383.74 130.24 375.1 155" id="l2jkh524DU"/><path d="M305.85 122.5C188.02 148.38 138.24 231.27 156.51 371.17L120.01 371.25L41.89 140" id="f3s92xoXVU"/><path d="M380.88 243.3C352.88 214.71 303.51 215.37 275.23 243.5C246.94 271.63 246.28 320.31 274.51 348.66C302.75 377 351.43 377.99 380.35 349.28C409.26 320.56 404.9 268.35 380.88 243.3Z" id="a10o1HlZIy"/><path d="M514.87 387.09C465.07 242.99 540.53 87.41 685.36 37.54" id="fDZQQXSxk"/><path d="M608.96 353.46C577.28 261.76 625.29 162.76 717.45 131.02" id="b1WswxqZdp"/><path d="M727.84 341.4C795.32 276.55 828.56 243.78 827.55 243.09C799.55 214.49 750.18 215.16 721.89 243.29C693.61 271.42 692.94 320.1 721.18 348.44C749.42 376.79 798.1 377.78 827.01 349.06" id="g3ey7o0RfT"/><path d="M1007.25 385.75C1028.15 332.83 1024.07 234.95 1008.44 215C998.02 201.7 968.38 219.86 919.5 269.5C926.14 307.99 919.23 346.07 898.8 383.75" id="a3IVC74ln1"/><path d="M1225.61 364.33C1020.07 421.65 1171.98 166.24 1141.11 82.7" id="aelt3BkUe"/><path d="M1076.82 174.78C1106.82 163.25 1155.66 214.22 1197.82 206.03" id="m25mRz7w8U"/></symbol><use style="color: #777FFF" href="#voccent"/></svg>
          </div>
        </div>
        <div class="flex snap-center flex-col justify-end gap-4">
          <b class="-mb-2 pl-2 text-xl font-bold">2019</b>
          <div
            class="h-48 w-96 cursor-pointer rounded-2xl border border-pink-600 bg-neutral-900 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-pink-400 hover:bg-neutral-800 bg-[url('https://enly-shop.web.app/logo.png')] bg-center bg-contain bg-no-repeat"
          >
            Enly App
          </div>
          <div
            class="h-48 w-96 cursor-pointer rounded-3xl hover:rounded-3xl border border-amber-400/0 duration-300 hover:-translate-x-1 hover:-translate-y-1 hover:border-amber-400 grid place-items-center text-4xl font-bold font-serif text-white relative overflow-hidden hover:shadow-[0.5rem_0.5rem_0rem_0rem_#f59e0b88] active:duration-75 active:translate-x-0 active:translate-y-0 active:scale-100 active:shadow-none"
          >
            <div class="absolute bg-[url('https://images.unsplash.com/photo-1483181994834-aba9fd1e251a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')] bg-center bg-cover bg-no-repeat w-full h-full top-0 left-0 -z-10 opacity-30 blur-sm"></div>
            <div>Enly Shop</div>
          </div>
        </div>
        <div class="flex snap-center flex-col justify-end gap-4">
          <!-- todo: text-gradient -->
          <b class="-mb-2 pl-2 text-xl font-bold">2017</b>
          <div
            class="h-48 w-96 cursor-pointer rounded-2xl hover:rounded-3xl border border-slate-600 bg-slate-800 duration-300 hover:scale-95 hover:border-emerald-400/40 hover:bg-emerald-300/30 relative overflow-hidden grid place-items-center group"
          >
            <img src="https://github.githubassets.com/assets/profile-joined-github-dark-6369d0efb8b9.svg" class="h-full w-full bottom-0 -z-0 absolute [mask-image:radial-gradient(ellipse_at_center,transparent,white)] duration-300 group-hover:-translate-x-1 group-hover:-translate-y-1 group-hover:scale-110 brightness-150 contrast-150" alt="Joined GitHub!">
            <div class="z-10 duration-300 group-hover:scale-150 group-hover:translate-y-1 group-hover:translate-x-1">
              <h4 class="text-emerald-500 group-hover:text-emerald-300 duration-300 font-bold">Joined GitHub</h4>
              <time class="text-xs group-hover:text-blue-400 hover:shadow-xl font-medium duration-300">on August 17, 2017</time>
            </div>
          </div>
        </div>
        <div class="flex snap-center flex-col justify-center items-center">
          <b class="text-6xl font-bold w-[50vw] text-center">:)</b>
        </div>
      </div>
    </div>
  </div>
  
  <div class="animate-fadeout z-40 w-full h-full backdrop-blur-lg absolute top-0 left-0 grid place-content-center bg-black/50">
    <img src="/logo.svg" class="animate-deblur opacity-50 z-50 bakcdrop-blur-xl" />
  </div>
</Project>

<style>

  .animate-deblur {
    filter: blur(1rem);
    transform-origin: center !important;
    animation: deblur 1.75s ease forwards;
  }
  @keyframes deblur {
    0% {
      transform: scale(0.5) rotate(90deg);
      filter: blur(1rem);
    }
    20% {
      transform: scale(1.75) rotate(0deg);
      filter: blur(0);
    }
    100% {
      opacity: 0;
      transform: scale(0.25) rotate(-90deg);
      filter: blur(0);
    }
  }

  .animate-fadeout {
    backdrop-filter: blur(1rem);
    animation: fadeOut 1.5s ease-in-out forwards;
  }
  @keyframes fadeOut {
    from {
      backdrop-filter: blur(1rem);
      opacity: 1;
    }
    to {
      backdrop-filter: blur(0) !important;
      opacity: 0;
    }
  }
  .animate-fadein {
    transform: translate(-1rem, -0.25rem);
    animation: fadeIn 0.6s 1s ease-in-out forwards;
  }
  @keyframes fadeIn {
    from {
      transform: translate(-1rem, -0.25rem);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  .card2:hover {
    box-shadow: 0 0 1.5rem #4fd1c5;
  }
  .card1:hover {
    box-shadow: 0 0 1.5rem #10b981;
  }
</style>
